 .u-userBackgroundColor:not([disabled]) {
  background-color: #f41333 !important;
 
}
#Embed .src-component-Launcher-wrapper{
	background:url(../images/ask_us.png) no-repeat 0 0!important;
	height:137px!important;
	width:48px!important;
	padding:0!important;
	border-radius:0!important;
	text-indent:-99999px!important;
}
#Embed .src-component-Launcher-wrapper:hover{
	opacity:0.8
}
.src-component-container-ScrollContainer-header{
	background:#f41333!important; color:#fff!important; text-align: left!important; 
}
.src-styles-utils-u-textCenter.src-component-container-ScrollContainer-title{
	text-align: left!important;
	font-size: 18px!important;
    font-weight: normal!important;
}

.closeButton .Button--nav{
	background:#b00000; color:#fff!important; border-radius:0!important; padding:13px 15px!important;
}
.Icon--close svg{
	fill:#fff!important;
	width:16px!important;
    height: 20px!important;
}
.Button--nav{
	padding-top:1rem!important;
}
#Embed .src-styles-utils-u-marginHS{
	margin:0!important;
}
.Icon--zendesk,.meshim_widget_widgets_Branding.branding{
	display:none!important;
}
.ButtonGroup.u-textRight{
	text-align: center!important;
}
.c-btn{
	border-radius:0!important;
}
.src-component-container-ScrollContainer-container,
.Container--popover
{
	border-radius:0!important;
}
.Form-field{
	border-radius:0!important;
}
.Form-field--focused{
	box-shadow:none!important;
}
.offline_msg{
background:#f6f6f6; padding:1.6rem; font-size:15px; color:#4b4b4b
}
#Embed .src-component-Launcher-wrapper.src-component-Launcher-wrapperMobile{
	background:url(../images/ask_us_mobile.png) no-repeat 0 0!important;
	height:109px!important;
	width:30px!important;
	padding:0!important;
	border-radius:0!important;
	text-indent:-99999px!important;
}
