/* Skins
 *
 * Skin styles should be limited to typography, colors, and
 * backgrounds. Except for text elements (i.e. h3, megamenu-title,
 * etc.), widths, margins, and padding of structural blocks are
 * set in the administration area.
 *--------------------------------------------------------*/

/* @group Minimal */
.megamenu-skin-minimal {
  background-color:#bbb;
}

.megamenu-skin-minimal .megamenu-title {
  font-size:100%;
  font-weight:normal;
}



.megamenu-skin-minimal .megamenu-slot {
  margin-right: 4px;
  border-bottom:1px solid #bbb;
}

.megamenu-skin-minimal .megamenu-slot-title,
.megamenu-skin-minimal .megamenu-slot-title a {
  background-color:#bbb;
  color:#fff; /* white */
  font-size:100%;
  text-align:center;
  text-transform:uppercase;
}

.megamenu-skin-minimal .megamenu-link {
  font-size:85%;
}
/* @end Minimal*/



/* @group friendly (ucsf theme)*/

/* overrides - begin */
.megamenu-skin-friendly li{
  margin:0px;
  padding:0px;
  line-height:120%;
}
.megamenu-skin-friendly *{
  list-style:none;
}
/* overrides - end */


.megamenu-skin-friendly{  
  background:none; /* pharmacy medium gold */
 
}
.megamenu-skin-friendly a:hover{
  text-decoration:none;
}
.megamenu-skin-friendly .megamenu-parent-title{
  text-transform:lowercase;
}
.megamenu-skin-friendly .megamenu-parent-title{
  font-weight:normal;
  font-size:100%;
  vertical-align:bottom;
}
.megamenu-skin-friendly .megamenu-parent-title a,
.megamenu-skin-friendly .megamenu-parent-title span,
.megamenu-skin-friendly .megamenu-parent-title a:visited{
  font-style:normal;
  color:#fff;
  padding:0 9px;
}

.megamenu-skin-friendly .megamenu-slot,
.megamenu-skin-friendly .megamenu-slot a:hover{
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}
.megamenu-skin-friendly li.megamenu-slot{  
  width:135px;
  margin:10px 10px auto auto; 
  padding-top:10px;
  padding-bottom:10px;
  text-align: left;
}
.megamenu-skin-friendly li.megamenu-slot:hover{
  
}
.megamenu-skin-friendly .hovering .megamenu-parent-title a,
.megamenu-skin-friendly .hovering .megamenu-parent-title span,
.megamenu-skin-friendly .megamenu-parent-title a:hover
{
 
  /* background:#5a5a5a; pharmacy dark gold */
  color:#aaaaaa
}
.megamenu-skin-friendly .hovering .megamenu-parent-title span:hover,
.megamenu-skin-friendly .megamenu-slot-title span{
  cursor:default;
}
.megamenu-skin-friendly .hovering .megamenu-parent-title a:hover{  
 /* background:#5a5a5a;  540 blue */
}
.megamenu-skin-friendly .megamenu-bin{  
  padding:0px;
  background: #f6f6f6;
  width:100%;
  text-align: center;
  box-shadow:0 15px 15px #ccc;
}
.megamenu-skin-friendly .megamenu-slot-title{
  
  color:#000; /* 80% white on pharmacy dark gold */
  font-size:13px;
}
.megamenu-skin-friendly .megamenu-slot-title a:link,
.megamenu-skin-friendly .megamenu-slot-title a:visited{  
  font-size:13.5px; font-weight:700; color:#13abd3; position: relative;
  
}

.megamenu-skin-friendly .megamenu-slot-title a,
.megamenu-skin-friendly .megamenu-slot-title span,
.megamenu-skin-friendly .megamenu-item a,
.megamenu-skin-friendly .megamenu-item span{
  padding:0 0 0 12px;
  display:block;
  line-height: 16px;
}
.megamenu-skin-friendly .megamenu-slot a{
  color:#fff;
}
.megamenu-skin-friendly .megamenu-slot a:hover{
  color:#000;
  
}
.megamenu-skin-friendly .megamenu-item a,
.megamenu-skin-friendly .megamenu-item span{
  color:#fff;
  font-size:100%;
}
.megamenu-skin-friendly .megamenu-item a:hover{
  color:#fff;
  
}
.megamenu-skin-friendly li.megamenu-slot{
  z-index:3000;
   margin-bottom:1.5em;
  border:0px;
 
}
.megamenu-skin-friendly ul a:hover{
  text-decoration:none;
}

.megamenu-skin-friendly .megamenu-slot-title{
  font-size:150%;
  line-height:150%;
  font-weight:bold;
}

/* start - ensure that #megamenu-menu bar is the same height in all browsers
 * very frustrating to get this correct - do not touch!
 *--------------------------------------------------------*/
.megamenu-skin-friendly .megamenu-item a,
.megamenu-skin-friendly .megamenu-item span
{
  font-size:11px;
}


.megamenu-skin-friendly .megamenu-parent-title a,
.megamenu-skin-friendly .megamenu-parent-title a:link,
.megamenu-skin-friendly .megamenu-parent-title a:visited,
.megamenu-skin-friendly .megamenu-parent-title a:focus,
.megamenu-skin-friendly .megamenu-parent-title a:hover,
.megamenu-skin-friendly .megamenu-parent-title a:active,
.megamenu-skin-friendly .megamenu-parent-title span
{
  padding:0 6px; display: block; line-height:70px; font-weight:700; font-size: 11px; text-transform: uppercase;
}
/* end - ensure that #megamenu-menu bar is the same height in all browsers
 *--------------------------------------------------------*/
.megamenu-skin-friendly .megamenu-parent-title a:hover {
  text-decoration:none;
  
 
}
/* @end Friendly */

@media only screen and (max-width:680px){
.megamenu-skin-friendly .megamenu-parent-title a, .megamenu-skin-friendly .megamenu-parent-title a:link, .megamenu-skin-friendly .megamenu-parent-title a:visited, .megamenu-skin-friendly .megamenu-parent-title a:focus, .megamenu-skin-friendly .megamenu-parent-title a:hover, .megamenu-skin-friendly .megamenu-parent-title a:active, .megamenu-skin-friendly .megamenu-parent-title span
{
	line-height:20px; padding: 0; font-size:18px; font-weight:700; text-transform: none;
}
.megamenu-skin-friendly .megamenu-parent-title{
	padding:10px 30px
}

.megamenu-skin-friendly li.megamenu-slot{
	width: auto; padding:10px 30px; margin: 0; display: block; text-align: left;
}
.megamenu-skin-friendly .megamenu-bin{
	box-shadow:none; padding:10px 0;
}
.megamenu-skin-friendly .megamenu-slot-title a:link, .megamenu-skin-friendly .megamenu-slot-title a:visited{
	font-size: 18px; font-weight:700; color:#5a5a5a; text-align: left; padding: 0; border-radius:0;
}
.megamenu-skin-friendly .hovering .megamenu-parent-title a,
.megamenu-skin-friendly .hovering .megamenu-parent-title span,
.megamenu-skin-friendly .hovering .megamenu-parent-title a:hover
{
 
  background:none; /* pharmacy dark gold */
}
}